<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create Product</title>
<link rel="stylesheet" type="text/css" href="./CSS/style.css"/>
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}" class="button">Logout</a>
		<br/><br/>
		<a th:href="@{/GoToHomePage}" class="button">Go home page</a> 
		<br/><br/>
		<a th:href="@{/GoToAdmin}" class="button">Go to admin home page</a>
		
	</div>
	<h1>Create product page</h1>
	<p>Please fill the form to create a new product</p>
	
	<form action="CreateProduct" method="POST" enctype="multipart/form-data">
		Name: <input type="text" name="name" required> <br>
		Date: <input type="date" name="date" th:min="${todayDate}" max="" required> <br/>
		Image:<input type="file"  id="image" name="picture" accept="image/png, image/jpeg" required> <br/>
		Number of variable question: <input type="number" name="variableQuestionsNumber" min="1" required>
		<br/> <br/>
		<input class="button" type="submit" value="Submit your questionnaire">
	</form>
	<p th:text=" ${errorMsgRegister}" style="color:red"></p>
	
	
	
	<br/>
	
</body>
</html>