<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Completed!</title>
<link rel="stylesheet" type="text/css" href="./CSS/style.css"/>

</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}" class="button">Logout</a>
	</div>
	<h1>Questionnaire completed!</h1>
	<p>Thanks <span th:text="${session.user.username}"></span> for completing the survey!</p>
	<br/>
	<br/>
	<a th:href="@{/GoToLeaderboardPage}" class="button">Click here to go to the leaderboard page</a>
	<br/>
	<br/>
	<a th:href="@{/GoToHomePage}" class="button">Click here to go to the home page</a>
	
</body>
</html>