<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all" href="./CSS/style.css" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}" class="button">Logout</a> <br/> <br/>
 		<a th:href="@{/GoToAdmin}" th:class="${session.user.role}">Go to admin home page</a>
		
	</div>
	<h1>Home Page</h1>
	<p>Nice to see you again <span th:text="${session.user.username}"></span></p>
	<br/>
	<p> There is no product of the day </p>
	
</body>
</html>