<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all" href="./CSS/style.css" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}" class="button">Logout</a> <br/> <br/>
		<a th:href="@{/GoToLeaderboardPage}" class="button">Leaderboard</a> <br/> <br/>
 		<a th:href="@{/GoToAdmin}" th:class="${session.user.role}">Go to admin home page</a>
		
	</div>
	<h1>Home Page</h1>
	<p>Nice to see you again <span th:text="${session.user.username}"></span></p>
	<br/>
	<p> The product of the day is: <b th:text="${product.name}"></b>
	<br/>
	<img alt="photo"
			th:src="*{'data:image/png;base64,'+ product.getImageData()}" width="400" height="400">
	<br/>
	Product reviews:
	<br/>
	<tr th:each="review: ${product.getReviews}">
    	-<td th:text="${review.text}" /><br/>
	</tr>
	<br/>
	<p th:text=" ${message}"></p>
	<a th:href="@{/GoToMarketing}" class="button">Click here to go to the questionnaire page</a>
</body>
</html>