<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="./CSS/style.css"/>

</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}" class="button">Logout</a>
		<br/><br/>
		<a th:href="@{/GoToHomePage}" class="button">Go back to the home page</a> 
	</div>
	<h1>Statistical Questions</h1>
	<p>Please fill the form with your personal information</p>
	<br/>
	
	<form action="CreateAnswer" method="POST">
		Age: <input type="number" name="answ1"> <br>
		
		<label>Sex:</label> <select name="answ2">
			<option value="N">Not specified</option>
			<option value="M">Male</option>
			<option value="F">Female</option>
		</select>
		<br/>
		<label>Expertise level:</label> <select name="answ3">
			<option value="n/d">Not specified</option>
			<option value="low">Low</option>
			<option value="medium">Medium</option>
			<option value="high">High</option>
		</select>
		<br/> <br/>
		<input class="button" type="submit" value="Submit your questionnaire">
	</form>
	<br/>
	<a th:href="@{/GoToMarketing}" class="button">Go back to your marketing answers</a>
	<br/><br/>
	<a th:href="@{/CancelAnswer}" class="button">Cancel your questionnaire</a>
	
</body>
</html>