<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
		<a th:href="@{/GoToHomePage}">Go back to the home page</a> 
	</div>
	<h1>Marketing Questions</h1>
	<p>Please fill the form with your personal information</p>
	<br/>
	
	<form action="GoToGreetingsPage" method="POST">
		Age: <input type="number" name="username" required> <br>
		Password: <input type="password" name="pwd" required><br>
		<input type="submit" value="login">
		<p th:text=" ${errorMsgLogin}"></p>
	</form>
	
	<br/>
	<tr th:each="review: ${productOfTheDay.getReviews}">
    	-<td th:text="${review.text}" /><br/>
	</tr>
	<br/>
	<a th:href="@{/GoToMarketing}">Click here to go to the questionnaire page</a>
</body>
</html>